@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Bebas Neue', cursive;
    --fonte4: 'Comfortaa', cursive;
    --fontetitulo: 'Sedgwick Ave Display', cursive;
    --fontejogo: 'Rubik Wet Paint', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    background-color: rgba(0, 0, 0, 0.918);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte2);
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 11vw;
    text-align: center;
    font-family: var(--fontetitulo);
}

header > p {
    padding-bottom: 50px;
    font-size: 6vw;
    text-align: center;
    font-family: var(--fontetitulo);
}

main {
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    border-radius: 5px;
}

a.externo {
    text-decoration: none;
    color: black;
    background-color: rgba(250, 235, 215, 0.473);
    padding-top: 9px;
    border-radius: 3px;
    transition: 1s;
}

a.externo:hover {
    background-color: black;
    color: rgba(250, 235, 215, 0.473);;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.4em;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 2.5vw;
    font-family: var(--fonte3);
    max-width: 1000px;
    min-width: 300px;
}

section > p {
    padding-bottom: 3em;
    font-size: 2.5vh;
}

section.imagem > p.highlights > a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: 400;
    transition: 1s;
}

section.imagem > p.highlights {
    text-align: center;
}

section > p.highlights > a:hover {
    color: black;
    font-weight: bolder;
}

section.normal {
    background-color: white;
    color: black;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.144);
    font-size: 5vh;
    padding: 25px;
}

section.titulo {
    background-color: white;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.144);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.13);
    background-attachment: fixed;
    background-size: cover;
    font-size: 6vh;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.308);
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.425);
    color: white;
    padding: 10px;
    border-radius: 3px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.37);
    font-family: var(--fonte4);
    font-variant: normal;
    font-size: 2.5vh;
    font-weight: 600;
    line-height: 1.8em;
    text-align: justify;
}


section.imagem > h2 {
    background-color: rgba(255, 255, 255, 0.37);
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.959);
    font-size: 5vh;
    text-align: center;
    font-family: var(--fontetitulo);
    font-weight: 500;
    line-height: 2.5rem;
}


section#titulo {
    background-image: url('imagens/torcida.jpg');
}

section#jogo1 {
    background-image: url('imagens/jg1.jpg');
    background-position: top right;
}

section#jogo2 {
    background-image: url('imagens/jg1.jpg');
    background-position: bottom right;
}

section#jogo3 {
    background-image: url('imagens/jogo3.jpg');
    background-position: left;
}

section#jogo4 {
    background-image: url('imagens/jogo3.jpg');
    background-position: left;
}

section#jogo5 {
    background-image: url('imagens/jogo4.jpg');
    background-position: top center;
}

section#jogo6 {
    background-image: url('imagens/jogo4.jpg');
    background-position: center bottom;
}

section#jogo7 {
    background-image: url('imagens/jogo7_8.jpg');
    background-position: top;
}

section#jogo8 {
    background-image: url('imagens/jogo7_8.jpg');
    background-position: center top;
}

section#jogo9 {
    background-image: url('imagens/jogo9.webp');
    background-position: top;
}

section#jogo10 {
    background-image: url('imagens/jogo10.jpg');
    background-position: bottom;
}

section#jogo11 {
    background-image: url('imagens/jogo11.jpg');
    background-position: top;
}

section#jogo12 {
    background-image: url('imagens/jogo12.jpg');
    background-position: center top;
}

section#final {
    text-align: center;
    background-image: url('imagens/final.webp');
    background-position: center;
    font-size: 8vh;
}

section#introfinal {
    background-image: url('imagens/ambiente_corinthiansxbocajuniors_rib-51024.webp');
    background-position: top;
    height: 17vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin-bottom: 20vh;
}

section#final > h2 {
    color: rgba(255, 255, 255, 0.911);
    text-shadow: 2px solid black;
    background-color: rgba(0, 0, 0, 0.288);
}

section#final1 {
    background-image: url('imagens/final1.webp.crdownload');
}

section#final2 {
    background-image: url('imagens/final1.2.webp.crdownload');
}

section#final3 {
    background-image: url('imagens/golromarinho.jpg');
    background-position: top;
}

section#final4 {
    background-image: url('imagens/torcida-do-corinthians_rib1024.webp');
}

section#final5 {
    background-image: url('imagens/emerson3_corinthians_final_reu1024.webp.crdownload');
}

footer {
    background-color: rgba(211, 211, 211, 0.336);
    text-align: center;
    font-family: var(--fonte2);
}

footer > p > a {
    text-decoration: none;
    color: black;
}